[run]
data_file = tmp/coverage/.coverage
source = .
parallel = True
omit =
    */migrations/*
    */config/*
    */test/*
    manage.py
    *wsgi.py
    *urls.py

[html]
directory = tmp/coverage/report